
body {
 background: #283c86;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #647E68, #182747);  
 background: linear-gradient(to right, #647E68, #182747); 
}

.iconos-margen {
 margin-top: 125px;
}


.imagen_container {
 display: inline-block;
 margin-right: 10px; 
 vertical-align: middle; 
 width: 331px;
 height: 417px;
 background-size: 331px 417px;
 background-position: center;
 background-repeat: no-repeat;
 border-radius: 15px;
 position: relative;
 overflow: hidden;
 transition: transform 0.2s ease;
}

.imagen_container:hover {
 transform: scale(1.05); 
}

.imagen_container a {
 display: block; 
 width: 100%; 
 height: 100%; 
 text-decoration: none; 
}

.imagen_container h2 {
 margin: 0;
 color: black;
 text-align: justify;
 position: absolute; /* Posición absoluta para alinear el texto */
 bottom: 0; /* Alinear el texto en la parte inferior */
 left: 0; /* Alinear el texto a la izquierda */
 width: 100%; /* Ancho del texto */
 padding: 10px; /* Espaciado interno del texto */
 transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}

.container-fluid .col .titlePrinci  {
color: #ffffff;
}







