<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="/img/LogoMaicarSinFondoBLANCO.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="reporteInforma.css" />
    <title>Reportes Informació<nav></nav></title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="container-md">
        <img
          src="/img/LogoMaicarSinFondo.png"
          alt="LogoMaicar"
          class="mt-4"
          width="130"
          height="120"
        />
      </div>
      <br />
      <div class="container-xl rounded-3 align-items-stretch col p-4">
        <div
          class="d-flex justify-content-end position-absolute top-0 end-0 me-1"
          onclick="redirectTo('/index.html');"
        >
          <a href="#">
            <img src="/img/ATRAS.png" alt="" />
          </a>
        </div>

        <div class="text-center">
          <h1>Reportar Información</h1>
          <hr class="linea-tareas" />
        </div>
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label h5"
              >Nombre Completo Operario:</label
            >
            <input
              type="text"
              class="form-control input-sm border border-dark rounded-4"
              id="nombre"
            />
          </div>
          <div class="h5">
            <label for="cargo">Cargo:</label>
            <select
              name="cargo"
              id="cargo"
              class="form-control input-lg text-center form-control border border-dark rounded-4"
            >
              <option value="" disabled selected>Seleccione</option>
              <option value="Cortador">Cortador</option>
              <option value="OperarioMaquinaPlana">
                Operario Maquina Plana
              </option>
              <option value="OperarioMaquinaFilete">
                Operario Maquina Filete
              </option>
              <option value="Filetiador">Filetiador</option>
            </select>
          </div>

          <div class="h5">
            <label for="fechaIni">Fecha: </label>
            <input type="date" id="fechaIni" name="fechaIni" />
          </div>

          <div class="mt-4 h5">
            <label for="reporte">Reporte:</label>
            <textarea
              name="reporte"
              id="reporte"
              cols="70"
              rows="10"
              placeholder="Dejar un Reporte"
            ></textarea>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-danger btn-lg" name="guardar">
              Guardar
            </button>
          </div>
        </form>
      </div>
      <hr />
    </div>

    <script src="/redirectTo.js"></script>
  </body>
</html>
