<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="icon" href="/img/LogoMaicarSinFondoBLANCO.ico" type="image/x-icon">
 <link rel="stylesheet" href="bootstrap.min.css">
 <link rel="stylesheet" href="calidad.css">
 <title>Calidad</title>
</head>
<body>
 <div class="container-fluid">
 <div class="container-md">
   <img src="/img/LogoMaicarSinFondo.png" alt="LogoMaicar" class="mt-4  "  width="130" height="120">
 </div>

 <div class="container-xl">
  <div class="d-flex justify-content-end" onclick="redirectTo('/index.html');" >
   <a href="#">
     <img src="/img/ATRAS.png" alt="">
   </a>
 </div>
 <div class="text-center">
  <h2>REPORTE CONTROL DE CALIDAD</h2>
  <hr class="linea-tareas">
 </div>
 <div>
  <div class="position-relative">
   <p class="position-absolute top-0 end-0 mt-3 me-3">Validación: <span id="contador">0</span></p>
  </div>
  <form >
   <div class="mb-3">
    <label for="nombre" class="form-label">Hecho por:</label>
    <input type="text" class="form-control" id="nombre">
   </div>
   <div>
    <label for="comentario">Comentario: </label>
    <textarea name="comentario" id="comentario" cols="70" rows="12"></textarea>
   </div>
   <button type="button" class="btn btn-danger">PROBLEMA</button>
   </div>
   <div>
    <button type="button" class="btn btn-secondary">MEDIO</button>
   </div>
   <div>
    <button type="button" class="btn btn-success">EXCELENTE</button>
   </div>
   <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-custom " name="guardar">Guardar</button>
  </div>
  </form>
 </div>

 





 </di>
 </div>




 <script src="/redirectTo.js"></script>
</body>
</html>