<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="icon" href="/img/LogoMaicarSinFondoBLANCO.ico" type="image/x-icon">
 <link rel="stylesheet" href="bootstrap.min.css">
 <link rel="stylesheet" href="bodega.css">
 <title>IconoBODEGA</title>
</head>
<body>
 <div class="container-fluid">
  <div class="container-xl">

   <div class="text-center position-relative">
    <a href="#" class="position-absolute top-0 end-0  me-1" onclick="redirectTo('/index.html');" >
     <img src="/img/ATRAS.png" alt="">
    </a>
    <h1 class="mb-0">Gestión y Revision Bodega</h1>
   </div>
   <hr class="linea-tareas">
   <div>
    <table class="table table-dark table-striped">
     <thead>
      <tr>
       <th scope="col">Acción</th>
       <th scope="col">Codigo</th>
       <th scope="col">Tipo</th>
       <th scope="col">Nombre</th>
       <th scope="col">Fecha</th>
       <th scope="col">Cantidad</th>
       <th scope="col">Pedido</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <th>Detalle</th>
       <th scope="row">T_01</th>
       <th>Lona</th>
       <th>Lona inflable</th>
       <th>10/06/2024</th>
       <th>4</th>
       <th>Solicitud</th>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>





 <script src="/redirectTo.js"></script>
</body>
</html>