body {
 background-color: #182747;
}
.container-xl {
 background-color: #D9D9D9;
}

.linea-tareas {
 height: 5px; /* Ajusta la altura de la línea */
 background-color: black; /* Cambia el color de la línea */
 border: none; /* Elimina cualquier borde */
}
